name: iOS

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: macos-latest
    timeout-minutes: 45
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build Debug Frameworks
        run: ./gradlew linkDebugFrameworkIosSimulatorArm64

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: artifacts
          path: "**/build/classes/kotlin/iosSimulatorArm64/main/"
          retention-days: 30
